body {
    display: flex;
    justify-content: center;
}

.wrapper {
    margin-top: 50px;
    border: 1px solid #41719c;
    display: inline-block;
    width: 500px;
    padding: 30px;
    border-radius: 8px;
}
.question-box {
    padding: 10px 0px;
    padding-left: 10px;
    border: 1px solid rgba(206,206,206,255);
    border-radius: 7px;
    margin-top: 7px;
    background-color: white;
}
.dot {
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #bbb;
    display: inline-block;
}

.green-answer {
    background-color: green !important; 
    color: green !important;
}

.red-answer {
    background-color: red !important;
    color: red !important;
}

.answer-label {
    background-color: white !important;
}


