body {
    display: flex;
    justify-content: center;
}
.wrapper {
    margin-top: 50px;
    border: 1px solid #41719c;
    display: inline-block;
    width: 500px;
    padding: 30px;
    border-radius: 8px;
}
.question-box {
    padding: 10px 0px;
    padding-left: 10px;
    border: 1px solid rgba(206,206,206,255);
    border-radius: 7px;
    margin-top: 7px;
    background-color: white;
}
.button-submit {
    margin-top: 10px;
    float: right;
    padding: 10px 30px;
    background-color: rgb(49, 13, 228);
    border: none;
    color: white;
    border-radius: 5px;

}